body, html {
    margin: 0;
    height: 100%;
}

#calculator {
    margin: 100px auto;
    padding: 20px;
    max-width: 400px;
    text-align: center;
    border: 5px double #5e0080;
}

#display {
    text-align: right;
    padding: 5px;
    border: 2px solid #5e0080;
    font-size: 40px;
    color: #dd4814;
}

table {
    margin: 0px auto;
    width: 400px;
}

button {
    padding: 10px;
    width: 100%;
    border: 1px solid #5e0080;
    outline: none;
    color: white;
    font-size: 20px;
}

#clear {
    color: black;
    background-color: #ccccb3;
}

#clear:hover, #clear:focus {
    background-color: #e60000;
}

#divide, #multiply, #subtract, #add, #equals {
    background-color: #ff9900;
}

#divide:hover, #divide:focus, #multiply:hover, #multiply:focus, #subtract:hover, #subtract:focus, #add:hover, #add:focus, #equals:hover, #equals:focus {
    background-color: cyan;
}

#zero, #one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #decimal {
    background-color: #333333;
}

#zero:hover, #zero:focus, #one:hover, #one:focus, #two:hover, #two:focus, #three:hover, #three:focus, #four:hover, #four:focus, #five:hover, #five:focus, #six:hover, #six:focus, #seven:hover, #seven:focus, #eight:hover, #eight:focus, #nine:hover, #nine:focus, #decimal:hover, #decimal:focus {
    background-color: #e600e6;
}